.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(250, 250, 250);
  background: linear-gradient(
    180deg,
    rgba(250, 250, 250, 1) 59%,
    rgba(212, 231, 241, 1) 95%,
    rgba(144, 197, 224, 1) 100%
  );

  &__logo {
    width: 150px !important;
    margin-left: 40px;
  }

  &__links {
    display: flex;
    flex-direction: row;
  }

  li {
    display: block;
  }
  &__link {
    border: 3px solid $nav-border;
    border-radius: 5px;
    width: 100px;
    align-self: center;
    padding: 10px;
    margin-right: 40px;
    text-align: center;
    font-weight: 600;
    font-size: 1.3em;
    color: $nav-text;
    font-family: $nav-font;
  }
}

.signed_in_links {
  display: none;
}
