.profiless {
  margin: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__headshot {
    background-image: url("../assets/biopic-1.jpg");
    background-size: cover;
    background-position: right;
    border-radius: 150px;
    height: 300px;
    width: 300px;
  }
  &__quickskills {
    font-family: $profiless-font;
    font-size: 2em;
    color: $profiless-text;
    font-weight: 600;
    text-align: center;
    margin: 20px;
  }
}

@media only screen and (min-width: $tablet-view) {
  .profiless {
    display: grid;
    grid-template-columns: 50px [left-s] 2fr [left-e] 20px [right-s] 3fr [right-e] 50px;
    grid-template-rows: 50px [pic-s] 130px [quick-s] auto;
    align-items: start;
    
    background-image: url("../assets/the-pessemist-complains.png");
    background-size: cover;
    height: 600px;
    border: 3px solid $nav-text;
    &__headshot {
      grid-column: left-s/left-e;
      grid-row: pic-s/-1;
    }
    &__quickskills {
      grid-column: right-s/right-e;
      grid-row: quick-s/-1;
      font-size: 3em;
    }
  }
}
