$nav-border: lightblue;
$nav-text: cornflowerblue;
$nav-font: 'Flamenco', sans-serif;
$nav-dropdown: #f1f5f8;
$profiless-font: 'Special Elite', serif;
$profiless-text: sandybrown;

$phone-view: 480px;
$tablet-view: 900px;
